@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior:smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background: rgb(32,32,32);
    background: linear-gradient(180deg, rgba(32,32,32,1) 97%, rgba(121,17,9,1) 100%, rgba(255,0,0,1) 100%);
    
    span {
        color: red;
    }

    header {
        width: 100%;
        height: 50px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        
        nav {
            height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
            h1 {
                color: white;
                margin-left: 100px;
                font-family: 'Roboto Mono', monospace;
                font-weight: 500;
            }
    
            ul {
                display: flex;  
                flex-direction: row;
                gap: 30px;
                margin-right: 100px; 
                align-items: center;
                justify-content: center;
    
                li {
                    list-style-type: none;

                    a {
                        color: white;
                        font-size: 16px;
                        text-decoration: none;
                        font-family: 'Roboto Mono', monospace;
                        font-weight: 300;
                    }
                    
                    
                }
            }
        }
    }

    main {
        height: 100vh;

        .container {
            width: 100vh;
            height: 100vw;
            transform: rotate(-90deg) translateX(-100vh);
            transform-origin: top left;
            overflow-x: hidden;
            scroll-snap-type: y mandatory;
        
            .horizontalBlock {
                display: flex;
                flex-direction: row;
                width: 400vw;
                transform: rotate(90deg) translateY(-100vh);
                transform-origin: top left;
    
                .page {
                    width: 100vw;
                    height: 100vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    scroll-snap-align: center;
                    

                    .cercle { 
                        height: 40px; 
                        width: 40px; 
                        background-color: white;
                        border-radius: 50%; 
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-top: 700px;
                        position: absolute;

                        .cercle2 {
                            height: 35px; 
                            width: 35px; 
                            border: 3px solid #101211;
                            border-radius: 50%; 
                        }
                    } 

                    .start_line {
                        width: 50%;
                        height: 2px;
                        background-color: white;
                        margin-left: 50%;
                        margin-top: 700px;
                        position: absolute;
                    }

                    .line {
                        width: 100vh;
                        height: 2px;
                        background-color: white;
                        margin-top: 700px;
                        position: absolute;
                    }

                    .end_line {
                        width: 50%;
                        height: 2px;
                        background-color: white;
                        margin-right: 50%;
                        margin-top: 700px;
                        position: absolute;
                    }
                }

                .presentation {
                    .content {
                        h1 {
                            color: white; 
                            font-size: 60px;
                            font-family: 'Roboto Mono', monospace; 
                            font-weight: 500;
                          }
      
                          h2 {
                              color: white;
                              font-family: 'Roboto Mono', monospace;
                              font-size: 50px;
                              font-weight: 300;
                          }
      
                          h3 {
                              color: white;
                              font-family: 'Roboto Mono', monospace;
                              font-size: px;
                              font-weight: 300;
                          }
                    }
                    

                    .title {
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        margin-top: 800px;
                        font-family: 'Roboto Mono', monospace;
                        font-weight: 500;
                        color: white;
                    }
                    
                    img {
                        width: 450px;
                        margin-left: 150px;
                    }
                }

                .skill {
                    .title {
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        margin-top: 800px;
                        color: white;
                        font-family: 'Roboto Mono', monospace;
                        font-weight: 500;                     
                    }

                    .logos {
                        max-width: 1300px;
                        width: 80%;
                        height: auto;
                        margin: 30px auto;
                        display: grid;
                        grid-template-columns: repeat(auto-fill, 400px);
                        justify-content: center;
                        grid-gap: 30px;

                        .grid-item {
                            width: 400px;
                            height: 250px;
                            display: flex;
                            justify-content: center;

                            img {
                                height: 70%;
                            }

                            .php, .mysql {
                                width: 100%;
                            }
                            
                        }

                        
                    }
                }

                .project {
                    .title {
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        margin-top: 800px;
                        color: white;
                        font-family: 'Roboto Mono', monospace;
                        font-weight: 500;                     
                    }

                    .table {

                        .line_content {
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 10px;
                            margin-top: 10px;
                            margin-left: 10px;
                            margin-right: 10px;

                            P {
                                color: white;
                                font-size: 20px;
                                font-family: 'Roboto Mono', monospace;
                                font-weight: 300;
                            }

                            a {
                                text-decoration: none;
                                color: white;
                                font-family: 'Roboto Mono', monospace;
                                font-weight: 300;
                            }

                            span {
                                font-weight: 500;
                                color: red;
                            }

                        }
                        
                        .first_row {
                            width: 150vh;
                            height: 3px;
                            background-color: rgba(255, 255, 255, 0.667);
                        }

                        .row {
                            width: 150vh;
                            height: 1px;
                            background-color: rgba(255, 255, 255, 0.667);
                        }
                    }

                }

                .contact {
                    .title {
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        margin-top: 800px;
                        color: white;
                        font-family: 'Roboto Mono', monospace;
                        font-weight: 500;                     
                    }
                    
                    .social {
                        width: 600px;
                        padding-right: 50px;

                        h1 {
                            color: white;
                            font-family: 'Roboto Mono', monospace;
                            font-weight: 300;
                            text-align: justify;
                            margin-bottom: 30px;
                        }

                        img {
                            width: 80px;
                            margin-right: 15px;
                        }
                    }

                    .form_notice {
                        width: 450px;
                        height: 555px;
                        padding: 20px 20px;
                        background: #fff;
                        box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
                        border-radius: 10px;
                        transition: top 0ms ease-in-out 200ms,
                                    opacity 200ms ease-in-out 0ms,
                                    transform 20ms ease-in-out 0ms;

                        h2 {
                            font-family: 'Roboto Mono', monospace;
                            font-weight: 500;
                        }

                        form {

                            label {
                                font-size: 18px;
                                color: #222;
                                align-items: flex-start;
                                font-family: 'Roboto Mono', monospace;
                                font-weight: 500;
                            }

                            input {
                                margin-top: 5px;
                                width: 100%;
                                height: 50px;
                                display: block;
                                padding: 10px;
                                outline: none;
                                border: 1px solid #aaa;
                                border-radius: 5px;
                                margin-bottom: 2%;
                                font-family: 'Roboto Mono', monospace;
                                font-weight: 300;
                            } 

                            button {
                                width: 100%;
                                height: 40px;
                                border: none;
                                outline: none;
                                font-size: 16px;
                                background: red;
                                color: #f5f5f5;
                                border-radius: 10px;
                                cursor: pointer;
                            }

                            #message {
                                margin-top: 5px;
                                display: block;
                                width: 100%;
                                padding-bottom: 100px;
                                outline: none;
                                border: 1px solid #aaa;
                                border-radius: 5px;
                            }
                        }

                        h2 {
                            text-align: center;
                            color: #222;
                            margin: 10px 8px 20px;
                            font-size: 25px;
                        }
                    }

                }
            }
        }
    }
}

@media screen and (max-width : 850px) {
    .container {
        display: block;
        overflow: scroll !important ;
        width: 100vh;
        height: auto !important;
        transform: rotate(0) translateX(0) !important;
        scroll-snap-type: y mandatory;
    }

    .horizontalBlock {
        display: block;
        width: 400vw;
        transform: rotate(0) translateY(0) !important;
        transform-origin: top left;
    }
}